@font-face{font-family:"edgeicons";src:url("icon.eot");src:url("icon.eot?#iefix") format("embedded-opentype"),url("icon.woff") format("woff")}
.imk{background:transparent;display:inline-block;font-style:normal;vertical-align:baseline;position:relative}
.ic:after,.ic:before{display:block;font-family:"edgeicons";font-weight:normal;font-style:normal;text-align:center;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.apps{display:inline-table;width:max-content;margin-left:0px;margin-right:7px;background:#fff;padding:5px;border-radius:4px;margin-top:10px;box-shadow:1px 1px 10px #c7c7c7;}
.imghvr{width:51px;height:51px;border-radius:4px;}	
@media (max-width:768px){.bodys{text-align:left;padding:5%;margin-top:14px;font-size:+5;}}	
@media (min-width:768px){.bodys{text-align:left;padding:1%;margin-top:16px;font-size:+5;}}	
@media (max-width:768px){.babag{padding:1%;margin:3%;background:#fff;}}	
@media (min-width:768px){.babag{padding:1%;margin:5%;background:#fff;}}	
.toxin{border:0px;outline:none;text-weight:500;}
.bodytitle{width:100%;text-align:left;padding-left:1%;font-size:+5;}






.smallest{font-size:12px;line-height:12px}
.small{font-size:16px;line-height:15px}
.medium{font-size:18px;line-height:18px}
.large{font-size:21px;line-height:1}
.extraLarge{font-size:32px;line-height:1}
.add:before{content:"\f183"}
.analytics:before{content:"\f200"}
.arrowDown:before{content:"\f174"}
.arrowLeft:before{content:"\f114";-ms-transform:scaleX(-1);transform:scaleX(-1)}
.arrowUp:before{content:"\f188"}
.attachFile:before{content:"\f088"}
.audioBadge:before{content:"\f311"}
.audioMuted:before{content:"\f306"}
.audioUnmuted:before{content:"\f305"}
.balloon:before{content:"\f092"}
.bird:before{content:"\f179"}
.calendar:before{content:"\f203"}
.image:before{content:"\f027"}
.camera:before{content:"\f111"}
.video:before{content:"\f030"}
.cards:before{content:"\f402"}.caretDown:before{content:"\f181"}
.cart:before{content:"\f095"}
.check:before{content:"\f170"}
.checkLight:before{content:"\f197"}
.chevronDown:before{content:"\f202"}
.me:before{content:"\f056"}.meFilled:before{content:"\f002"}
.chevronUp:before{content:"\f201"}
.poll:before{content:"\f199"}
.clock:before{content:"\f177"}
.close:before{content:"\f045"}
.heart:before{content:"\f148"}
.heartBadge:before{content:"\f015"}
.home:before{content:"\f053"}
.homeFilled:before{content:"\f553"}
.message:before{content:"\f054"}
.notifications:before{content:"\f055"}
.notificationsFilled:before{content:"\f019"}
.notificationsDisabled:before{content:"\f037"}
.person:before{content:"\f056"}
.people:before{content:"\f178"}
.photo:before{content:"\f158"}
.pinned:before{content:"\f003"}
.play:before{content:"\f301"}
.political:before{content:"\f004"}
.setting:before{content:"\f059"}.setings:before{content:"\f124"}
.cover:before{content:"\f163"}
.creditCard:before{content:"\f401"}
.follow:before{content:"\f175"}
.follower:before{content:"\f002"}
.following:before{content:"\f176"}
.crop:before{content:"\f190"}
.cvv:before{content:"\f402"}
.delete:before{content:"\f154"}
.deskBell:before{content:"\f090"}
.question:before{content:"\f087"}
.mobile:before{content:"\f085"}
.hash:before{content:"\f052"}
.book-o:before{content:"\f093"}
.map:before{content:"\f031"}
.gif:before{content:"\f028"}
.muted:before{content:"\f101"}
.pause:before{content:"\f302"}
.menu:before{content:"\f150"}
.menu2:before{content:"\f149"}
.logout:before{content:"\f185"}
.pencil:before{content:"\f112"}
.messageCompose:before{content:"\f035"}
.refresh:before{content:"\f189"}
.reply:before{content:"\f151"}
.report:before{content:"\e609"}
.retweet:before{content:"\f152"}
.retweeted:before{content:"\f006"}
.search:before{content:"\f058"}
.share:before{content:"\f185"}
.smiley:before{content:"\f033"}
.edit:before{content:"\f029"}
.tweet:before{content:"\f029"}
.truck:before{content:"\f400"}

